* {
margin: 0;
padding: 0;
border: 0;
}
h1{
    /* margin: 30px; */
    margin-bottom: 20px;
}
body{
    color: blanchedalmond;
    background-color: black;
    text-align: center;

}
#logo{
    width: 300px;
    margin-top: 30px;
    /* margin-bottom: 50px; */
}
#bigDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
}


#mainDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    gap:20px;
    max-width: 800px;
    background-color: rgb(123, 120, 120);
    max-width: 70vw;
    padding-bottom: 40px;
}

.card{
    color: black;
    background-color: aliceblue;
}

.thumbnail{
    width: 200px;
    margin-top: 10px;
    border: solid;
    border-width: 1px;
  
}

.flip-card {
    width: 200px;
    height: 200px;
    perspective: 1000px; 
    /* margin-left: 10px; */
    margin-bottom: 30px;
}

.flip-card-inner {
    width: 100%;
    /* height: 100%; */
    height: 250px;
    transition: transform 0.6s;
    transform-style: preserve-3d; 
    position: relative;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    /* padding: 5px; */
    align-items: center;
    color: black;
    /* text-shadow: 0px 0px 3px white; */
    /* background-color: rgb(128, 124, 124); */
    background-size: 100%;
    background-position: 0px ;
    background-repeat: no-repeat;
    border: rgb(86, 86, 86);
    border-style: dashed;
    border-width: 2px;

}

.flip-card-front {
   /* background-image: url(/library/enFlag.png); */
}

.flip-card-back {
    /* background-image: url(/library/roFlag.png); */
    transform: rotateY(180deg); /* Back side starts flipped */

}

.flipped .flip-card-inner {
    transform: rotateY(180deg); /* Flip the entire inner container */
}

button{
    width: 100px;
    height: 25px;
    border-radius: 3px;
    background-color: rgb(197, 201, 166);
    box-shadow: -2px 2px 2px rgb(134, 132, 132);
    position: absolute;
    bottom: 15px;
    left: 50px;
}

footer{
    margin-bottom: 50px;
   
}


.smallFlag{
    position: absolute;
    width: 35px;
    left: 41%;
    top: 260px;
}



 @media only screen and (max-width: 750px) { 
    .flip-card-front, .flip-card-back {
        font-size: 14px;
    }
    footer{
        font-size: small;
        margin-bottom: 100px;
    }


    #mainDiv{
       max-width: 90vw;
    }

    .thumbnail{
        width: 300px;
    }

    
    .flip-card {
        width: 300px;
        height: 200px;
        perspective: 1000px; 
        /* margin-left: 10px; */
        margin-bottom: 30px;
    }

    button{
    left: 33%;
    }

    p{
        font-size: 16px;
        padding: 3px;
    }

    .smallFlag{
        width: 50px;
    }
} 
